.mobileNavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #27AA68;
    height: 100%;
    width: 100%;
}

/* SideNavBar desktop only */

.sideNavBar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.logoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-bottom: 1rem;
}

.logoLink {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.navLinks li {
    margin-bottom: 2rem;
}

.userCardContainer {
    margin-top: auto;
}