.confirmReservation {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.confirmReservation h1 {
    padding: 1rem;
    color: white;
    background-color: #27aa68;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 1rem;
}

.confirmReservationContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

.confirm button {
    border-radius: 16px;
    padding: 1rem;
    background-color: #ffD012;
    font-weight: bold;
    color: black;
    margin-top: 1rem;
}

.confirm input {
    border-radius: 16px;
    width: fit-content;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    border: 2px solid #ffD012;
}


.map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}


@media (min-width: 480px) {
    .confirmReservation {
        padding: 1rem;
    }

    .confirmReservation h1 {
        border-radius: 16px;
    }
}

@media (min-width: 768px) {
    .confirmReservationContainer {
        flex-direction: row;
    }

    .map {
        width: 50%;
    }

    .confirm {
        width: 50%;
    }
}