.routeCard {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.infosContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.infosRoute {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
}

.icons {
    display: none !important;
}

.startEndInfos {
    display: flex;
    align-items: center;
}

.routeLine {
    flex: 1;
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    height: 10px;
    border-bottom: 3px dashed #27aa68;
    margin: 0 8px;
}

.infosConductor {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.reservationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-left: 1px solid lightgray;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.link {
    display: block;
    width: 100%;
}

.reservationBtn {
    display: block;
    background-color: #ffD012;
    padding: 1rem;
    font-weight: bold;
    color: black;
    width: 100%;
}

@media (min-width: 768px) {
    .icons {
        display: block !important;
    }
}

@media (min-width: 1024px) {
    .routeCard {
        flex-direction: row;
    }

    .reservationContainer {
        justify-content: space-between;
        width: fit-content;
    }
}