.confirmReservation {
    height: 100%;
    padding: 1rem;
}

.confirmReservation h1 {
    padding: 1rem;
    border-radius: 16px;
    color: white;
    background-color: #27aa68;
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 1rem;
}